:root {
    --sfont: 1.2em;
    --mfont: 1.9em;
    --lfont: 3.14em;
  }



.loginbutton{
    padding: 1.2em;
    font-size: 1.9em
}
.header{
    font-size: var(--lfont)
}

.text{
    font-size: var(--mfont)
}

.body{
    width: 50vw;
    
}
